<mat-toolbar color="primary">
  <span><a routerLink="/">{{ 'HEADER.HEADER_MY_MESSAGES' | translate }}</a></span>
  <span class="spacer"></span>
  <ul>
      
      <li *ngIf="!isSearchOn">
          <a mat-button routerLink="/login" routerLinkActive="mat-accent">{{ 'HEADER.HEADER_LOGIN' | translate }}</a>
      </li>
      <li *ngIf="!isSearchOn">
          <a mat-button routerLink="/signup" routerLinkActive="mat-accent">{{ 'HEADER.HEADER_SIGN_UP' | translate }}</a>
      </li>
     
      <li *ngIf="isSearchOn">
        <a mat-button routerLink="/search" routerLinkActive="mat-accent">{{ 'HEADER.HEADER_SEARCH_BOOKS' | translate }}</a>
    </li>
      <li *ngIf="isSearchOn">
        <a mat-button routerLink="/userlist" routerLinkActive="mat-accent">{{ 'HEADER.HEADER_MY_BOOK_LIST' | translate }}</a>
      </li>
      <li *ngIf="isSearchOn">
        <a mat-button routerLink="/mybooklist" routerLinkActive="mat-accent">{{ 'HEADER.HEADER_SEARCH_BOOKS' | translate }}</a>
      </li>
      <li *ngIf="isSearchOn">
        <a mat-button routerLink="/retirement" routerLinkActive="mat-accent">{{ 'HEADER.HEADER_RETIREMENT_CALCULATOR' | translate }}</a>
      </li>
      <li *ngIf="isSearchOn">
        <a mat-button routerLink="/records" routerLinkActive="mat-accent">{{ 'HEADER.HEADER_RECORD_LIST' | translate }}</a>
      </li>
      <li *ngIf="isSearchOn">
        <a mat-button routerLink="/job" routerLinkActive="mat-accent">{{ 'HEADER.HEADER_JOB' | translate }}</a>
      </li>
      <li *ngIf="isSearchOn">
        <a mat-button routerLink="/crisis-center" routerLinkActive="mat-accent">{{ 'HEADER.HEADER_CRISIS' | translate }}</a>
      </li>
      <li *ngIf="isSearchOn">
          <a mat-button routerLink="/joblist" routerLinkActive="mat-accent">{{ 'HEADER.HEADER_JOB_LIST' | translate }}</a>
        </li>
      <li *ngIf="isSearchOn">
        <a mat-button routerLink="/login" routerLinkActive="mat-accent">{{ 'HEADER.HEADER_LOGOUT' | translate }}</a>
    </li>
  </ul>
  

</mat-toolbar>