<mat-card>
    <form class="example-form" [formGroup]="jobsForm" (submit)="jobsFromSubmit(jobsForm)">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Job Name" formControlName="jobName">
          </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Type</mat-label>
        <mat-select formControlName="jobType" (selectionChange)="onSelectionJobTypeChange($event)">
          <mat-option *ngFor="let food of jobTypeData" [value]="food.value">
            {{food.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Batch Type</mat-label>
        <mat-select formControlName="batchType">
          <mat-option *ngFor="let food of batchTypeData" [value]="food.value">
            {{food.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Email" formControlName="email">
      </mat-form-field>
      <button
      mat-raised-button
      color="primary"
      type="submit" >Submit</button>
    </form>
</mat-card>
