<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form  (submit)="signupform(signUpForm)" [formGroup]="signUpForm" *ngIf="!isLoading">
      <mat-form-field>
          <input
            matInput
            type="text"
            placeholder="Name"
            name="name"
            formControlName="name"
           >
          <mat-error *ngIf="signUpForm.controls.name.errors?.required">Please enter a valid name</mat-error>
          <mat-error *ngIf="signUpForm.controls.name.errors?.name">User name already exixts</mat-error>
        </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="email"
        placeholder="Email"
        name="email"
        formControlName="email"
       >
      <mat-error *ngIf="signUpForm.controls.email.errors?.required">Please enter a valid email</mat-error>
      <mat-error *ngIf="signUpForm.controls.email.errors?.email">Email already exixts</mat-error>
    </mat-form-field>
    
    <mat-form-field>
      <input
        matInput
        type="password"
        placeholder="Password"
        name="password"
        formControlName="password"
       >
      <mat-error *ngIf="signUpForm.controls.password.invalid">Please enter a valid password</mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      [disabled]="signUpForm.invalid"
      type="submit">Register</button>
  </form>
</mat-card>
