table {
    width: 100%;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }
  

  main {
    width: 80%;
    margin: 1rem auto;
  }

  .app-layout{
    display: flex;
    justify-content: space-around;
  }
  