<div *ngFor="let hero of heroes; let i=index; let odd=odd; trackBy: trackById" [class.odd]="odd">
  ({{i}}) {{hero.name}}
</div>

<hr>

<ng-template ngFor let-hero [ngForOf]="heroes" let-i="index" let-odd="odd" [ngForTrackBy]="trackById">
  <div [class.odd]="odd">({{i}}) {{hero.name}}</div>
</ng-template>


<h4>NgSwitch</h4>

<div [ngSwitch]="hero?.emotion">
  <app-happy-hero    *ngSwitchCase="'happy'"    [hero]="hero"></app-happy-hero>
  <app-sad-hero      *ngSwitchCase="'sad'"      [hero]="hero"></app-sad-hero>
  <app-confused-hero *ngSwitchCase="'confused'" [hero]="hero"></app-confused-hero>
  <app-unknown-hero  *ngSwitchDefault           [hero]="hero"></app-unknown-hero>
</div>

<hr>
<h4>NgSwitch with &lt;ng-template&gt;</h4>
<div [ngSwitch]="hero?.emotion">
  <ng-template [ngSwitchCase]="'happy'">
    <app-happy-hero [hero]="hero"></app-happy-hero>
  </ng-template>
  <ng-template [ngSwitchCase]="'sad'">
    <app-sad-hero [hero]="hero"></app-sad-hero>
  </ng-template>
  <ng-template [ngSwitchCase]="'confused'">
    <app-confused-hero [hero]="hero"></app-confused-hero>
  </ng-template >
  <ng-template ngSwitchDefault>
    <app-unknown-hero [hero]="hero"></app-unknown-hero>
  </ng-template>
</div>


<p>Hip!</p>
<div>
  <ng-container>
      <ng-template [ngIf]="hero?.emotion" >
          <p>Hip!</p>
        </ng-template>
  </ng-container>

</div>

<p>Hooray!</p>

<hr>
<li *ngFor="let hero of heroes">{{hero.name}}</li>

<hr>
<div *ngIf="hero" class="name">{{hero.name}}</div>

<hr>
<p>
    I turned the corner
    <span *ngIf="hero">
      and saw {{hero.name}}. I waved
    </span>
    and continued on my way.
  </p>

  <hr>

  <div>
      Pick your favorite hero
      (<label><input type="checkbox" checked (change)="showSad = !showSad">show sad</label>)
    </div>
    <select [(ngModel)]="hero">
      <!-- Do not wrap the options in <span> or <div> -->
      <span *ngFor="let h of heroes">   
        <span *ngIf="showSad || h.emotion !== 'sad'">
          <option [ngValue]="h">{{h.name}} ({{h.emotion}})</option>
        </span>
      </span>
    </select>

    <hr>

    <p>
        I turned the corner
        <ng-container *ngIf="hero">
          and saw {{hero.name}}. I waved
        </ng-container>
        and continued on my way.
      </p>

      <hr>

      <div>
          Pick your favorite hero
          (<label><input type="checkbox" checked (change)="showSad = !showSad">show sad</label>)
        </div>
        <select [(ngModel)]="hero">
          <ng-container *ngFor="let h of heroes">
            <ng-container *ngIf="showSad || h.emotion !== 'sad'">
              <option [ngValue]="h">{{h.name}} ({{h.emotion}})</option>
            </ng-container>
          </ng-container>
        </select>

        <hr>
        <p *appUnless="condition">Show this sentence unless the condition is true.</p>

        <hr>

        <p *appUnless="condition" class="unless a">
          (A) This paragraph is displayed because the condition is false.
        </p>

        <p *appUnless="!condition" class="unless b">
          (B) Although the condition is true,
          this paragraph is displayed because appUnless is set to false.
        </p>