.odd {
    background-color:  palegoldenrod;
  }

  p span { color: red; font-size: 70%; }

  .unless {
    border: 2px solid;
    padding: 6px;
  }
  
  p.unless {
    width: 500px;
  }

  button.b, span.b, .unless.b {
    color: black;
    border-color: green;
    background-color: lightgreen;
    font-size: 100%;
  }